body {
    background-color: rgb(224, 211, 211);
}

.container {
    width: 90%;

    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;

    background-image: url(./images/abstract-color-cloud-2.jpg);
    
    background-position: center;

    box-shadow: 0px 3px 5px black;
}

.affiches {
    width: 80%;

    padding: 10%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

img {
    margin-top: 20px;
    margin-right: 10px;
    opacity: 0,5;
    box-sizing: border-box;

    width: 150px;
    height: 200px;

    border-radius: 12px;

    object-fit: cover;
}

img {
    margin-top: 20px;

    box-sizing: border-box;

    width: 150px;
    height: 200px;

    border-radius: 12px;

    object-fit: cover;
}

img:hover {
    transform: scale(120%);
}


.linksImages {
    text-align: center;

    padding-top: 50px;
    padding-bottom: 50px;

}

/* Design lien est  */

#linkInput {
    height: 30px;
    border-radius: 10px;
}

#btnAdd {
    padding: 10px;
    border-radius: 10px;

    cursor: pointer;
}